{
  "apiKey": "",
  "authDomain": "compassionapp.firebaseapp.com",
  "projectId": "compassionapp",
  "storageBucket": "compassionapp.appspot.com",
  "messagingSenderId": "",
  "appId": "",
  "measurementId": "",
  "sendPushNotifications": false,
  "notificationServiceUrl": "https://exp.host/--/api/v2/push/send",
  "useEmulator": true,
  "tylerAPI": ""
}
